:root {
  --mouse-x: 0px;
  --mouse-y: 0px;
  --game-height: 500px;
  --game-width: 900px;
  --game-border-width: 4px;
  --game-border-color: cyan;
  --game-scrollbar-width: 17px;
  --game-box-padding: 7px;
  --header-height: 15px;
  --act-height: 100px;
  --unsure-width: 112px;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.cell-wrap {
  overflow-x: hidden;
}

.cell {
  cursor: default;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(var(--game-scrollbar-width) * -1);
  left: 0;
  padding: var(--game-box-padding);
}

#game-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: var(--game-height);
  width: var(--game-width);
  border-style: solid;
  border-width: var(--game-border-width);
  border-color: var(--game-border-color);
}

#game-body div {
  border-style: solid;
  border-width: 0;
  border-color: var(--game-border-color);
}

#game-body .row {
  display: flex;
  border-width: 0 0 var(--game-border-width) 0;
}

#game-body .row > div {
  position: relative;
}

#game-body .row:last-child {
  border-width: 0;
}

#game-body .header {
  flex: 0 0 auto;
  height: var(--header-height);
}

#game-body .content {
  flex: 1 0 auto;
}

#game-body .content #description {
  flex: 0 0 auto;
  width: var(--description-width);
  border-width: 0 var(--game-border-width) 0 0;
}

#game-body .content #story {
  flex: 1 0 auto;
  border-width: 0;
}

#game-body .act {
  flex: 0 0 auto;
  height: var(--act-height);
}

#game-body .act #unsure {
  flex: 0 0 auto;
  width: var(--unsure-width);
  border-width: 0 var(--game-border-width) 0 0;
}

#game-body .act #options {
  flex: 1 0 auto;
}

.header {
  background-color: #79b790;
}

#description {
  background-color: #c26b7b;
}

#description .cell {
  font-size: 0.9em;
}

#description {
  position: absolute;
  height: 90px;
  width: 250px;
  top: calc(var(--mouse-y) - 110px);
  left: calc(var(--mouse-x) - (250px / 2));
}

#story {
  background-color: #e8c84a;
}

#unsure {
  background-color: #0643c9;
}

#options {
  background-color: #8573bb;
}

#options .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

#options button {
  cursor: pointer;
  margin: 6px;
  padding: 4px 8px;
  border-style: solid;
}

#options input[type="text"] {
  margin: 6px;
  padding: 4px 8px;
  border-style: solid;
}
