// @import "variables";
$height_game: 500px;
$width_game: 1000px;

$contrast_border: #C3C3C3;

:root {
    --header-height: 30px;
    --sidebar-width: 150px;
    --bottombar-height: 150px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.box {
    border: {
        style: solid;
        width: 5px 0 0 5px;
        color: $contrast_border;
    }
}

#game {
    margin: 25px auto 0 auto;
    height: $height_game;
    width: $width_game;
    background-color: whitesmoke;
    border: {
        style: solid;
        width: 0 5px 5px 0;
        color: $contrast_border;
    }
}

#header {
    height: var(--header-height);
}

#sidebar {
    float: left;
    height: calc(100% - var(--header-height));
    width: var(--sidebar-width);

    #option-detail {
        height: calc(100% - var(--bottombar-height));
    }

    #minimap {
        height: var(--bottombar-height);
    }
}

#play {
    float: left;
    height: calc(100% - var(--header-height));
    width: calc(100% - var(--sidebar-width));
}
