:root {
    --game-height: 500px;
    --game-width: 1000px;
    --game-background-color: #F5F5F5;

    --title-height: 22px;
    --title-background-color: #B0B0B0;
    --options-height: 110px;
    --sidebar-width: 150px;

    --stroke-width: 6px;
    --stroke-color: #C3C3C3;

    --option-background-color: red;
}

html, body {
    margin: 0;
    font-family: 'Open Sans';
}

* {
    box-sizing: border-box;
}

#game-body {
    display: flex;
    flex-flow: column nowrap;
    margin: 25px auto 0 auto;
    height: var(--game-height);
    width: var(--game-width);
    background-color: var(--game-background-color);

    // Negative margin -> Border collapse hack
    // .row, .cell {
    //     margin: calc(var(--stroke-width) * -1);
    //     border: {
    //         style: solid;
    //         width: var(--stroke-width);
    //         color: var(--stroke-color);
    //     }
    // }
}

.row {
    display: flex;

    // Title bar
    &:nth-child(1) {
        flex: 0 0 var(--title-height);
    }

    // Content
    &:nth-child(2) {
        flex: 1 0;
    }

    // Act
    &:nth-child(3) {
        flex: 0 0 var(--options-height);
    }
}

.sidebar {
    flex: 0 0 var(--sidebar-width);

    + div {
        flex: 1 0;
    }
}

.titlebar {
    background-image: linear-gradient(to bottom, transparent, var(--title-background-color));
}

.content {
    max-height: calc(var(--game-height) - var(--title-height) - var(--options-height));

    > * {
        overflow: auto;
        padding: 4px 5px;
    }
}

#unsure {
    &::after {
        content: '?';
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}

#choose {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .option {
        line-height: calc(3em - 0.3em);
        margin: 0 7px;
        padding: 0 0.3em;
        height: 3em;
        width: 125px;
        background-color: var(--option-background-color);
        box-sizing: content-box;
    }
}
