:root {
    // --game-height: 500px;
    // --game-width: 907px;
    --game-height: 600px;
    --game-width: 900px;
    --game-border-width: 4px;
    --game-scrollbar-width: 17px;
    --game-box-padding: 7px;

    --header-height: 15px;
    // --act-height: 75px;
    --act-height: 100px;

    --description-width: 112px;
    --unsure-width: 112px;
}

* {
    border-color: cyan;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    height: 100%;
}

.cell-wrap {
    overflow-x: hidden;
}

.cell {
    cursor: default;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(var(--game-scrollbar-width) * -1);
    left: 0;
    padding: var(--game-box-padding);

    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
}

#game-body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: var(--game-height);
    width: var(--game-width);
    border: {
        style: solid;
        width: var(--game-border-width);
    }

    div {
        border: {
            style: solid;
            width: 0;
        }
    }

    .row {
        display: flex;
        border-width: 0 0 var(--game-border-width) 0;

        > div {
            position: relative;
        }

        &:last-child {
            border-width: 0;
        }
    }

    .header {
        flex: 0 0 auto;
        height: var(--header-height);
    }

    .content {
        flex: 1 0 auto;

        #description {
            flex: 0 0 auto;
            width: var(--description-width);
            border-width: 0 var(--game-border-width) 0 0;
        }

        #story {
            flex: 1 0 auto;
            border-width: 0;
        }
    }

    .act {
        flex: 0 0 auto;
        height: var(--act-height);

        #unsure {
            flex: 0 0 auto;
            width: var(--unsure-width);
            border-width: 0 var(--game-border-width) 0 0;
        }

        #options {
            flex: 1 0 auto;
        }
    }
}

.header {
    background-color: #79b790;
}

#description {
    background-color: #c26b7b;
}

#story {
    background-color: #e8c84a;
}

#unsure {
    background-color: #0643c9;
}

#options {

    .cell {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        background-color: #8573bb;

        &.hidden {
            visibility: hidden;
        }
    }

    .option {
        flex: 0 0 auto;
        margin: 0 2px;
        padding: 5px 10px;
    }
}

input[type="text"] {
    text-align: center;
}

button {
    cursor: pointer;
    margin: 2px 0;
    padding: 2px 8px;
    border-style: solid;
}
